# Example environment variables
# Cambia esta URL si usas el backend desplegado en Vercel:
NEXT_PUBLIC_API_BASE_URL="http://localhost:4000/api"
#NEXT_PUBLIC_API_BASE_URL="https://the-no-real-backend.vercel.app/api"
NEXT_PUBLIC_SD_API="https://example.com/api/sd/generate"
